<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <springProperty scope="context" name="CONSOLE_PATTERN" source="application.console-pattern"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%cyan([%d{yyyy-MM-dd HH:mm:ss.SSS}]) [${HOSTNAME}] [%thread] %cyan([ST=RCV]) %cyan([SID=%X{SID:-DEF}]) %clr(%level) %highlight(%logger{36}@%method:%line) - %msg%n
      </pattern>
    </layout>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>